{% extends "base_generic.html" %}

{% block content %}

    <br><br>
    <h4> 한식 </h4>
    <br><br>
    {% if c1_shop_list %}
    <div class="row">
        <div class="col-sm-3" style="overflow:auto; height:550px">
            {% block shop_list %}
            <ul>
                {% for model in c1_shop_list %}
                    <li>
                        <a href="">{{ model.shop_name }}</a>
                        <p style="font-size:12px; color:gray"> {{ model.bldg.bldg_name }}
                            <br>{{ model.bldg.bldg_lat }}, {{ model.bldg.bldg_lng }}
                        </p>
                    </li>
                {% endfor %}
            </ul>
            {% endblock %}
        </div>

        <div class="col-sm-9">
            {% block map_space %}
            <div id="map" style="width:100%;height:550px;"></div>

            <script>
                var mapOptions = {
                    center: new naver.maps.LatLng(37.402799, 127.111505),
                    zoom:17,
                    minZoom: 14,
                    maxBounds: new naver.maps.LatLngBounds(
                        new naver.maps.LatLng(37.393587, 127.096515),
                        new naver.maps.LatLng(37.415317, 127.138466)
                    ),
                };
                var map = new naver.maps.Map('map', mapOptions);

                {% for model in c1_shop_list %}
                    var marker = new naver.maps.Marker({
                        position: new naver.maps.LatLng({{ model.bldg.bldg_lat }}, {{ model.bldg.bldg_lng }}),
                        title: "{{ model.shop_name }}",
                        map: map
                    });
                {% endfor %}
            </script>
            {% endblock %}
        </div>
    </div>

    <p style="font-size:12px; color:gray">
        <br># memo
        <br>1. 겹침 마커처리
        <br>2. 스크립트 모듈로 분리방안(맵/마커)
        <br>3. 매장명 클릭시 지도 중심점을 반영하거나, naver 가게정보링크(db에 각 매장 url 저장해야 함)
        <br>4. 리스트 정렬
        <br>5. 뽑기
    </p>



    {% else %}
        <p>해당 매장이 없습니다.</p>
    {% endif %}

{% endblock %}
