{% extends "base_generic.html" %}

{% block content %}
  <p> </p>
  <h2>매장 현황</h2>
  <p></p>
  <h4> <strong>전체 </strong> {{ all_count }} </h4><p></p>
<!--  <h2>Dynamic content</h2>-->
<!--  <p>The library has the following record counts:</p>-->
  <ul>
    <p></p>
    <h5><strong>분류별</strong></h5>
    <p></p>
    <li><strong>한식:</strong> {{ c1_count }}</li>
    <p></p>
    <li><strong>샐러드/샌드위치:</strong> {{ c2_count }}</li>
    <p></p>
    <li><strong>탕/찌개:</strong> {{ c3_count }}</li>
    <p></p>
    <li><strong>중식:</strong> {{ c4_count }}</li>
    <p></p>
    <li><strong>돈까스/일식:</strong> {{ c5_count }}</li>
    <p></p>
    <li><strong>분식:</strong> {{ c6_count }}</li>
    <p></p>
    <li><strong>파스타:</strong> {{ c7_count }}</li>
    <p></p>
    <li><strong>카페/디저트:</strong> {{ c8_count }}</li>
    <p></p>
    <li><strong>기타:</strong> {{ c9_count }}</li>

  </ul>
{% endblock %}


